<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamentos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Listagem de Departamentos</h1>

        <button class="btn btn-primary btn-sm">Novo</button>

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Departamento</th>                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Recursos Humanos</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Financeiro</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vendas</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Faturamento</td>
                </tr>
            </tbody>


        </table>
        
    </div>
</body>
</html>